/* default values */
body { font-family: 'Roboto'; }
* { padding: 0; margin: 0 }
h1{ text-align: center; }

/* home view */
#marco {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: rgb(117, 209, 123);
    border: 2px solid rgb(4, 4, 4);
    border-radius: 9px;
}

#marco #pantalla {
    width: 260px;
    height: 40px;
    margin: 5px 15px;
    background: rgb(3, 3, 3);
    color: rgb(50, 247, 10);
    border: 2px solid rgb(4, 4, 4);
    border-radius: 9px;
    font-size: 20px;
    font-family: sans-serif;
}

.botones {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 6px 15px;
}
